* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "grinched";
  src: url('./fonts/grinched-2.0/Grinched 2.0.ttf');
}

/* @font-face {
  font-family: "playsir";
  src: url('./fonts/playsir/PLAYSIR Regular.otf');
}

@font-face {
  font-family: "brady";
  src: url('./fonts/brady-bunch/BradBunR.ttf');
} */

span,p {
  font-family: 'grinched';
}

h1,h2,h3,h4,h5,h6,span,*.name {
  color: white;
  font-family: 'grinched';
}

#root {
  /* When this is relative, child elements positioned absolutely will
    be relative to this element, not the document providing more accurate
    positioning, since the canvas will be at (0, 0) */
  position: relative;
}

#root #ui {
  /* This will make the UI appear on top of the canvas */
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
}

#ui.MainGame .main-section {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}
#purchases {
  overflow-y: scroll;
}

#ui.MainGame {
  pointer-events: none;
}

#ui.MainGame .purchaseable {
  border: 1px solid black;
}

#ui.MainGame .purchaseable .name {
  color: white;
  font-size: xx-large;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 16px;
}

@media (max-width: 1000px) {
  * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  #root #ui.MainGame {
    flex-flow: column nowrap;
  }

  #root #ui.MainGame > * {
    flex: 1;
  }

  #root #ui.MainGame #purchases {
    flex: 2;
  }
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

#frogCounter {
  margin: 10px 20px;
}

.counter-container > *{
  margin: 0 20px;
}

#purchases {
  pointer-events: all;
}

.purchaseable.hidden {
  visibility: hidden;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#version {
  margin: 2px 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#modal-content h2 {
  color: black;
}

/* The Close Button */
#modal-close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: -20px;
}

#modal-close:hover,
#modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.purchaseable {
  position: relative;
  z-index: 1;
  color: lightgray;
  text-shadow: 1px 1px 1px blue;
  padding: 10px 20px;
  cursor: pointer;
}

.purchaseable .gradient-art,.purchase-art {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purchaseable .gradient-art {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}

.purchaseable .purchase-art {
  filter: grayscale() brightness(1) blur(5px) contrast(1000);
}

.purchaseable#paint .purchase-art {
  filter: grayscale() brightness(.6) blur(5px) contrast(1000);
}

.purchaseable .purchase-art.revealed {
  filter: none !important;
}

.purchaseable#tadpole .purchase-art {
  background-image: url('./images/tadpoles.jpg');
}

.purchaseable#paint .purchase-art {
  background-image: url('./images/paint.jpg');
}

.purchaseable#toad .purchase-art {
  background-image: url('./images/toad.jpg');
}

.purchaseable#lilypad .purchase-art {
  background-image: url('./images/lilypad.jpg');
}

.purchaseable#pond .purchase-art {
  background-image: url('./images/pond.jpg');
}

.purchaseable#lizard .purchase-art {
  background-image: url('./images/lizard.jpg');
}

.purchaseable#ocean .purchase-art {
  background-image: url('./images/ocean.jpg');
}

.purchaseable#poisonfrog .purchase-art {
  background-image: url('./images/poisonfrog.jpg');
}

#excalibur-canvas {
  position: initial;
  z-index: -10000;
}

